:root{--bc:#fcfcfc;--cs:#ff96aa;--cm:#ff4081;--cu:#fedfe1;}
@font-face{font-family:MTLmr3m;src:url('MTLmr3m.woff2')}
::selection{background:rgba(245,150,170,.3);color:#f00}
@keyframes ring{from{transform:ring(0deg)}to{transform:rotate(360deg)}}
::-webkit-scrollbar{background:var(--cu);width:.3em;height:.3em}
::-webkit-scrollbar-thumb{background:var(--cs);border-radius:5px}
::-webkit-scrollbar-thumb:hover{background:var(--cm)}
@media(min-width:900px){main{width:75%}
.col2{column-rule:#000 dashed 2px;columns:2;column-gap:2em}
}


html{scroll-behavior:smooth}
body{font-family:MTLmr3m;position:relative;margin:0;word-wrap:break-word;word-break:break-all;transition:all 1s;counter-reset:h1 h2 h3;text-align:justify;text-justify:inter-cluster}
main{width:85%;margin:0 auto;padding:1em;border-left:.2em solid;border-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='black' stroke-width='2' stroke-dasharray='30 10' y2='100%'/%3E%3C/svg%3E").1%}
main+span:after{content:'～ Q.E.D.　　';font-family:times;font-weight:bold;float:right;margin-bottom:1em}
article{margin-left:1em;}
h1{font-size:160%;margin:.5em 0;counter-reset:h2 h3}h2{font-size:140%;margin:.4em 0;counter-reset:h3}h3{font-size:130%;margin:.5em 0}h4{font-size:120%;margin:.5em 0}h5{font-size:105%;margin:.2em 0;font-weight:bold}h6{margin:0;font-size:100%;font-weight:normal}
h1:before{counter-increment:h1;content:'§'counter(h1)'.';margin-left:-1.5em;font-size:120%;background:var(--bc)}
h1:hover:after{content:' #'attr(id);font-size:60%}
h2:before{counter-increment:h2;content:'¶'counter(h1)'.'counter(h2)'.';margin-left:-.3em}
h3:before{counter-increment:h3;content:counter(h1)'.'counter(h2)'.'counter(h3)'.'}
hr{margin:.2em 0;border:0;border-top:.1em solid var(--cs)}
.hrtl{border-top:.1em transparent solid;border-image:linear-gradient(to right,var(--cs),transparent)1 10}
p{line-height:1.6em;column-rule:#000 dotted .2em;margin:1em 0}

a{color:var(--cm);text-decoration-color:transparent;transition:text-decoration-color .5s;outline:none}
a:focus{text-decoration-color:var(--cm)}
a:visited{color:var(--cs)}
a:hover{color:var(--cm);text-decoration-color:var(--cm)}
s{display:inline-block;text-decoration:initial }
big{font-size:xx-large}
small{font-size:small}
em{color:red;font-weight:bold;font-style:normal}
tt{font-family:times,MTLmr3m;line-height:1em}
dfn{font-weight:bold;font-style:normal}
dfn i{font-family:times}
div.eg{border-left:.3em solid var(--cs);padding:.1em 1em;margin:.2em 1em;color:#444;line-height:1.1em}
figure::-webkit-scrollbar{background:none;height:4px}
figure::-webkit-scrollbar-thumb{background:var(--cu)}
u{text-decoration:none}
u.eg{text-decoration:none;font-size:small;color:#666}
u.eg:before{content:'/*';}
u.eg:after{content:'*/';}
u.ps{color:#666}
.bge{color:#fff;border-radius:.1em;padding:0 .2em;margin:0 .1em;background:var(--cs)}
.ng{color:#fff;border-radius:.1em;padding:0 .2em;margin:0 .1em;background:#F44336}.ng:before{content:'NG'}
.ok{color:#fff;border-radius:.1em;padding:0 .2em;margin:0 .1em;background:#64DD17}.ok:before{content:'OK'}
.de{color:#fff;border-radius:.1em;padding:0 .2em;margin:0 .1em;background:#FBE251}.de:before{content:'？'}
.a0,.a1{text-decoration:overline}
.a1:after{content:'';border-left:2px solid;margin-left:-.5px;vertical-align:top}
.em{display:inline-block;writing-mode:vertical-lr;text-combine-upright:all;vertical-align:text-bottom}
.half{display:inline-block;transform:scale(.5,1)}
samp{font-family:serif-monospace,courier,MTLmr3m;line-height:1em}
code{background:var(--cs);color:#fff;font-size:1em;border-radius:2px;padding:0 3px;margin:0 3px;}
sup{position:relative;vertical-align:baseline;top:-.6em;font-size:65%}
sub{position:relative;vertical-align:baseline;bottom:-.1em;font-size:65%}
pre{overflow-x:scroll;-webkit-overflow-scrolling:touch;padding:.1em .5em;margin:0;font-family:inherit;position:relative;line-height:1em}
blockquote{margin:.2em;padding:0 1em;border-left:4px solid var(--cs);line-height:1.2em}
address{color:#999;font-style:initial;display:belock;font-size:80%;text-align:right}
address:before{content:'⸻⸻ '}
ol,ul{margin:.2em 1em;padding:0 1em}ol{list-style-type:katakana;padding-left:1.8em}
li{line-height:1.1em;margin:.1em 0}
dl{display:table;margin:0}
dt{display:table-cell;white-space:nowrap;padding-right:.5em;border-right:.2em solid var(--c3)}
dd{margin-left:.5em}
tt,.ts{font-family:times}
figure{overflow:scroll;margin:0;}
table{table-layout:fixed;border:.15em solid var(--cm);border-collapse:collapse}
th,td{padding:.2em .2em .1em .2em;text-align:center;word-break:keep-all;white-space:nowrap;border:.1em solid var(--cm);line-height:1.2em}
th{font-weight:bold;color:var(--cm)}
caption{caption-side:bottom;font-size:80%;padding:1px 0;margin:0;color:#666}
.tb-co th,.tb-co td{padding:1px 3px;line-height:.9em}
button{font-size:1em;font-family:inherit;border:2px outset var(--cs);background:transparent;color:var(--cm);padding:0 .2em;outline:none}
button:active{border-style:inset;color:var(--cs)}


[type=range]{appearance:none;background:var(--cs);width:10em;height:.2em;border-radius:2px;transform:translateY(-.2em)}
[type=range]::-webkit-slider-thumb{height:1em;width:1em;background:var(--cm);border-radius:1em;appearance:none}
[type=text]{appearance:none;outline:none;width:7em;padding:0;border:none;border-bottom:var(--cm) solid 2px;}



summary{list-style:none}summary::-webkit-details-marker{display:none}
details{transition:all .3s}
summary{user-select:none;outline:0}
details+div{max-height:0;z-index:2;overflow:hidden;transition:max-height .8s;position:absolute;left:0em;right:0em;background:var(--bc)}
[open]+div{display:block;max-height:100em}

#lba{transition:all 1s;margin:1em;user-select:none;position:fixed;top:0;right:0;font-size:90%;background:var(--cu);padding:.6em .8em 1px .8em;border:1px solid var(--cs);border-radius:2px;box-shadow:0 0 5px var(--cs);z-index:10}
.lba{color:var(--cs);position:absolute;left:-1.5em;height:2em;width:2em;opacity:.8}
.lba:before{content:' >';}
#lba[style]{transition:all 1s}
[style] .lba:before{content:' <'}
[id^=iH]{color:var(--cm);padding-left:10px;border-left:1px solid #666;transition:all .5s}
[id^=ih]{color:#d0104c;padding-left:24px;font-size:85%;border-left:1px solid #666;transition:all .5s}
[id^=iH]:hover,[id^=ih]:hover{background:linear-gradient(to left,transparent,var(--cu))}
[id^=iH].iOing{padding-left:8px;border-left:5px solid var(--cm);margin-left:-2px;transition:all .5s}
[id^=ih].iOing{padding-left:22px;border-left:5px solid var(--cm);margin-left:-2px;transition:all .5s}




.float{float:left;margin-right:1em}
.float+div{overflow:hidden}
.float+div+div{clear:both;color:red}
.tw-l,.tw-l th,.tw-l td{text-align:left}
.tw-r,.tw-r th,.tw-r td{text-align:right}
.tw-c{text-align:center}

.night,.night img{filter:invert(1) hue-rotate(.5turn);transition:all 1s}
.night-nt{filter:invert(1) hue-rotate(.5turn)}
.night img{opacity:.75}
.night-b{position:absolute;top:0;right:0;left:0;bottom:0;background:var(--bc);z-index:-1}


#loader{position:fixed;bottom:.2em;right:1em;font-family:times;font-size:2.5em;transition:opacity 2s;}
#loader:before{content:'✿';position:fixed;bottom:.1em;right:6.2em;animation:ring 3s linear infinite}
#loader:after{content:'Now Loading…';position:fixed;bottom:.5em;right:1em;font-size:.5em;opacity:.8;text-shadow:0px 0px 2px #666;}

.indicator{position:absolute;top:0;right:0;left:0;bottom:0;background:linear-gradient(to right top,var(--cs) 50%,transparent 50%) no-repeat;background-size:100% calc(100% - 100vh);z-index:10;pointer-events:none;mix-blend-mode:darken}
.indicator:after{content:'';position:fixed;top:5px;bottom:0;right:0;left:0;background:#fff;z-index:10}

